<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/custom/indexStyle.css">

    <title>Index | Mini Project</title>

</head>

<body>

    <nav class=" navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mini Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user/signup">Signup</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="clear"></div>


    <div class="container-xl">

        <div>
            <a href="/doctor" class="btn btn-success">Doctor</a>

            <br>
            <br>

            <a href="/patient" class="btn btn-success">Patient</a>

        </div>


    </div>

    <footer class="mt-auto">
        <div class="text-center p-3 bg-light text-dark">
            Developed for Mini Project
        </div>
    </footer>


    <script src="../js/jquery-3.5.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>